<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8">
    <title>West-MEC PD Circle PD Circle</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../libs/ace_311/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link href="../../../libs/jqueryui_1_12/jquery-ui.min.css" rel="stylesheet">

    <link href="../../../libs/ace_311/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet">

    <link href="../../../libs/ace_311/node_modules/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet">

    <link href="../../../libs/ace_311/node_modules/@fortawesome/fontawesome-free/css/brands.css" rel="stylesheet">

    <link href="../../../libs/ace_311/node_modules/chosen-js/chosen.css" rel="stylesheet">

    <link href="../../../libs/ace_dmx/pnotify2/PNotify.css" rel="stylesheet">

    <link href="../../../libs/ace_dmx/pnotify2/PNotifyBootstrap4.css" rel="stylesheet">

    <link href="../../../libs/ace_dmx/pnotify2/PNotifyMobile.css" rel="stylesheet">

    <link href="../../../libs/ace_dmx/css/jquery.floatingscroll.css" rel="stylesheet">

    <link href="../../../common/css/jquery.steps.css" rel="stylesheet">

    <link href="../../../libs/ace_311/node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"
          rel="stylesheet">

    <link href="../../../libs/ace_311/node_modules/dropzone/dist/dropzone.css" rel="stylesheet">

    <link href="../../../common/css/dropzone.css" rel="stylesheet">

    <link href="../../../libs/ace_311/node_modules/tiny-date-picker/tiny-date-picker.css" rel="stylesheet">

    <link href="../../../libs/ace_311/dist/css/ace-font.css" rel="stylesheet">

    <script src="../../../libs/ace_311/node_modules/jquery/dist/jquery.js"></script>

    <script src="../../../libs/ace_311/node_modules/popper.js/dist/umd/popper.js"></script>

    <script src="../../../libs/ace_311/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script src="../../../libs/jqueryui_1_12/jquery-ui.min.js"></script>

    <script src="../../../libs/ace_dmx/momentjs/moment-with-locales.min.js"></script>

    <script src="../../../libs/ace_311/node_modules/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>

    <script src="../../../libs/ace_dmx/pnotify2/PNotify.js"></script>

    <script src="../../../libs/ace_dmx/pnotify2/PNotifyBootstrap4.js"></script>

    <script src="../../../libs/ace_dmx/pnotify2/PNotifyAnimate.js"></script>

    <script src="../../../libs/ace_dmx/pnotify2/PNotifyFontAwesome5.js"></script>

    <script src="../../../libs/ace_dmx/pnotify2/PNotifyFontAwesome5Fix.js"></script>

    <script src="../../../libs/ace_dmx/pnotify2/PNotifyMobile.js"></script>

    <script src="../../../libs/ace_dmx/js/jquery.floatingscroll.es6.min.js"></script>

    <script src="../../../libs/common_scripts.min.js"></script>

    <script src="../../../libs/jquery2/jquery.highlight-3.js"></script>

    <script src="../../../libs/ace_311/node_modules/jquery-validation/dist/jquery.validate.js"></script>

    <script src="../../../libs/ace_311/node_modules/jquery-validation/dist/additional-methods.js"></script>

    <script src="../../../libs/ace/dist/js/jquery.maskedinput.min.js"></script>

    <script src="../../../libs/jquery2/jquery-steps/jquery.steps.min.js"></script>

    <script src="../../../libs/ace_311/node_modules/chosen-js/chosen.jquery.js"></script>

    <script src="../../../libs/jquery2/jquery.printElement.min.js"></script>

    <script src="../../../libs/ace/assets/js/ajaxfileupload.js"></script>

    <script src="../../../libs/ace_311/node_modules/dropzone/dist/dropzone.js"></script>

    <script src="../../../libs/ace_311/node_modules/tiny-date-picker/dist/date-range-picker.js"></script>

    <script src="../../../libs/ace/dist/js/inputmask/jquery.inputmask.min.js"></script>

    <script src="../../../libs/ace/dist/js/inputmask/inputmask.binding.js"></script>

    <script src="../../../libs/ace_311/dist/js/ace.js"></script>

    <script src="../../../libs/ace_311/node_modules/chart.js/dist/Chart.js"></script>

    <script src="../../../libs/jquery2/cookie/js.cookie.min.js"></script>

    <script src="../../../libs/ace_311/node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js"></script>

    <link href="../../../libs/ace_311/node_modules/tiny-date-picker/date-range-picker.css" rel="stylesheet">

    <link href="../../../libs/ace_311/dist/css/ace.css" rel="stylesheet">

    <script>
        var beforeload = (new Date()).getTime();
        var successMessage = [];
        var infoMessage = [];
        var errorMessage = [];
        var warningMessage = [];
        var SITE_URL = "../../../index.html";
        var LIBS_URL = "/libs/";
        var REQUEST_URI = "/course/view/436";
        var secureUri = false;
        var fieldErrors = {};
        var footerHeight = 0;

        var is_IE = false;
        var listviewBottomSpace = null;
        var tempObj = {};
        Dropzone.autoDiscover = false;
        var printElementCSS = ['/libs/ace/dist/css/bootstrap.min.css', '/libs/ace/dist/css/ace.min.css', '/libs/ace/dist/css/ace-fonts.css', '/libs/ace/dist/css/font-awesome.min.css'];

        PNotify.defaultModules.set(PNotifyBootstrap4, {});
        // PNotify.defaultModules.set(PNotifyFontAwesome5, {});
        PNotify.defaults.addClass = '';
        PNotify.defaults.closerHover = true;
    </script>


    <link href="../../../common/css/main.css" rel="stylesheet">
    <link href="../../../css/local.css" rel="stylesheet">
    <link href="../../../css/frontend.css" rel="stylesheet">

</head>
<body class="">

<div class="body-container">

    <nav class="navbar navbar-sm navbar-expand-lg navbar-fixed -navbar-blue bgc-white">
        <div class="navbar-inner brc-grey-l2 flex-wrap shadow-md">

            <div class="d-flex h-100 align-items-center justify-content-xl-between">
                <a class="navbar-brand ml-2 -text-white" href="../../../index.html">
                    <img src="../../../images/logo_pdf3.png"/>
                </a>
            </div>

            <!-- .navbar-menu toggler -->
            <button class="navbar-toggler mx-1 p-25" type="button" data-toggle="collapse" data-target="#navbarMenu"
                    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navbar menu">
                <i class="fa fa-bars -text-white"></i>
            </button>


            <div class="ml-auto mr-lg-2 navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">
                <div class="navbar-nav">
                    <ul class="nav nav-compact-2 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle mr-1px" href="../../../html/courses/search.html">
                                Search For Class
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle mr-1px" href="../../../html/courses/calendar.html">
                                Calendar View
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle mr-1px" href="../../../html/hotel.html">
                                Hotel
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle mr-1px" href="../../../html/contact.html">
                                Contact
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle mr-1px" href="../../../html/admin.html">
                                Login
                            </a>
                        </li>

                    </ul>
                </div>

            </div><!-- .navbar-menu -->


        </div><!-- .navbar-inner -->
    </nav>
    <div class="main-container bgc-white" id="main-container">

        <div class="main-content"><!-- new, moved from page content to also wrap the footer -->


            <div role="main" class="page-content container container-plus">

                <div class="page-header mb-0 pb-2 pos-rel">
                    <h1 class="page-title text-primary-d2">
                        <a href="../../../html/courses/WMyou.html?Page=DMS&amp;dms_page=load-courses&amp;Mode=list"
                           data-rel="tooltip" title="Go back"><i class="fa fa-caret-left"></i></a> More Than Sad:
                        Suicide Awareness Training
                    </h1>

                </div>
                <hr class="border-solid brc-primary-m4 mt-0 mb-2">


                <div class="card acard">

                    <div class="sexy-loader text-center" id="listview-loader"
                         style="display: none; position: absolute;"><img src="../../../images/please_wait_text.gif"><h4>
                        Please be patient while the page is loading.</h4></div>

                    <div class="card-body" id="listview-view">

                        <div class="card details-card mb-0 radius-b-0">
                            <div class="card-body">
                                <form name="registerform" method="POST" action="">

                                    <h4 class="mb-4">Event Details:</h4>
                                    <p>In an American Foundation for Suicide Prevention 2020 report, suicide is
                                        identified as the 2nd leading cause of death for Arizona's adolescents and young
                                        adults (ages 10-34). In fact, on average, one person dies by suicide every six
                                        hours in our state.</p>
                                    <p>As an intervention to reduce the suicide rates across the state, the legislature
                                        passed a law that, as of July 1, 2020, all school staff in grades 6 through 12
                                        must have suicide awareness training at least once every three years from one of
                                        eight approved curriculums.</p>
                                    <p>Participants in this class will increase their understanding of the problem of
                                        youth suicide, the risk factors that lead to suicide, and the treatment and
                                        prevention of suicidal behavior in adolescents.</p>
                                    <ul>
                                        <li>This course meets the Arizona legislative requirements for mandatory
                                            training.
                                        </li>
                                        <li>This course is for Central Campus Employees</li>
                                    </ul>

                                    <div class="instructors-wrapper card mb-4">
                                        <div class="card-body">
                                            <p class="mb-3"><strong>Category</strong></p>
                                            <span data-rel="no_tooltip" title=""
                                                  class="badge bgc-white border-2 brc-green text-dark-tp3 px-3 bgc-h-green-l3 d-style">
                <a data-rel="tooltip" title="Click to see all courses this in this category" target="_blank"
                   href="../../../html/courses/WMyou.html">
                  West-MECyou
                </a>
              </span>
                                        </div>
                                    </div>

                                    <div class="instructors-wrapper card mb-4">
                                        <div class="card-body">
                                            <p class="mb-0"><strong>Instructors</strong></p>
                                            <span class="badge mr-1 pos-rel border-2 pr-3 bgc-white brc-blue-m1 text-dark-tp3 bgc-h-blue-l4 mt-3 radius-round overflow-hidden text-95">
                <a data-rel="tooltip" title="Click to see instructor profile" target="_blank"
                   href="../../../html/instructors/32.html">
                                      <img alt="User avatar"
                                           src="../../../uploaded/tn_221209125406_joely_sanders_counselor.png"
                                           class="border-1 brc-white-tp3 w-5 h-5 radius-round mr-1">
                                    Joely Sanders
                </a>
              </span>
                                        </div>
                                    </div>

                                    <div class="events-wrapper card mb-4">
                                        <div class="card-body">
                                            <p class="mb-3"><strong>When:</strong></p>
                                            <span data-rel="no_tooltip" title=""
                                                  class="badge bgc-white border-2 brc-green text-dark-tp3 px-3 bgc-h-green-l3 d-style">
                  1/8/2024 <i class='fa fa-clock'></i> 9:00 AM &minus; 11:30 AM
                                  </span>
                                        </div>
                                    </div>

                                    <div class="location-wrapper card mb-4">
                                        <div class="card-body">
                                            <p class="mb-3"><strong>Where:</strong></p>
                                            <span class="badge bgc-white border-2 brc-orange text-dark-tp3 badge-pill badge-lg pb-4 px-3 bgc-h-orange-l3"
                                                  data-rel="tooltip"
                                                  title="6997 N Glen Harbor Blvd, Glendale, AZ 85307">
                West-MEC Central Campus              </span>
                                        </div>
                                    </div>

                                    <div class="location-wrapper card mb-4">
                                        <div class="card-body">
                                            <p class="mb-3"><strong>Cost:</strong></p>
                                            <span class="badge bgc-white border-2 brc-green text-dark-tp3 px-3 bgc-h-green-l3 d-style">
                $0.00
              </span>
                                        </div>
                                    </div>


                            </div><!-- /.card-body -->

                            <div class="card-footer pos-rel">
                                <div class="card-body p-0 row align-items-center">
                                    <div class="col-12 col-md-8">
                                    </div>
                                    <div class="col-12 col-md-4 text-right">
                                        <button type="submit" name="submit_register_436" class="btn btn-success btn-lg">
                                            <i class="fa fa-arrow-right"></i> Register Now
                                        </button>


                                    </div>

                                </div>
                            </div>

                            </form>
                        </div><!-- /.card.details-card -->

                    </div><!-- /.card-body -->
                </div><!-- /.card .acard -->

            </div>
            <script>
                var baseURL = '../../../admin.html?Page=DMS&amp;dms_page=view-instructor&amp;ajax_return=true';

                function viewInstructor(pass_add) {
                }

                $(document).ready(function () {


                });
            </script>

            <footer class="footer">
                <div class="footer-inner text-left bgc-blue">
                    <!-- #section:basics/footer -->
                    <div class="container container-plus">
                        <div class="row pt-5 pb-3 border-none brc-grey-l2 text-white">
                            <div class="col-12">
                                <p>Contact</p>
                            </div>

                            <div class="col-lg-6">
                                <p>
                                    -<br/>
                                    Western Maricopa Education Center #402<br/>
                                    Professional Development Department<br/>
                                    5405 North 99th Avenue<br/>
                                    Glendale, AZ 85305<br/>
                                    623-738-0023<br/>
                                    pd@west-mec.org
                                </p>
                            </div>

                            <div class="col-lg-6">
                                <p>
                                    Director of Professional Development and Strategic Planning<br/>
                                    -<br/>
                                    -<br/>
                                    Joel Wakefield<br/>
                                    623-738-0010<br/>
                                    joel.wakefield@west-mec.org</p>
                            </div>
                        </div>

                        <div class="row pb-5 border-none brc-grey-12 text-white">
                            <div class="col-12">
                                <p class="text-warning">
                                    Copyright © 2022 All Rights Reserved
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- /section:basics/footer -->
                </div>
            </footer>


        </div>

        <form name="tempform" id="tempform" method="post" action="#">
            <input type="hidden" name="return_url" value="/course/view/436">
            <input type="hidden" name="submit_update_3" value="Save">
            <div class="modal fade" id="temp-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true" data-backdrop="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="temp-modal-title">Title</h4>
                        </div>
                        <div class="modal-body">
                            Content
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary submit-button"
                                    onclick=" document.tempform.submit();">Submit
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <script type="text/javascript" src="../../../common/js/page_init.js"></script>
        <script type="text/javascript" src="../../../common/js/cfunctions.js"></script>

        <script>
            $(document).ready(function () {


                if (successMessage.length !== 0)
                    showMessages("success", successMessage);
                if (infoMessage.length !== 0)
                    showMessages("info", infoMessage);
                if (errorMessage.length !== 0)
                    showMessages("error", errorMessage);
                if (warningMessage.length !== 0)
                    showMessages("warning", warningMessage);

                $('.logout-button').click(function () {
                    $('#temp-modal #temp-modal-title').html("Logging out...");
                    $('#temp-modal .modal-body').html("<h4>Goodbye,<br>See you soon!</h4>");
                    $('#temp-modal .modal-footer').hide();
                    $('#temp-modal').modal();
                    $('.sexy-loader').hide();
                });

                var t = setTimeout(function () {
                    $(".ui-pnotify-history-container").hide();
                }, 100);

                $("body").addClass('is-document-loaded');


            });
        </script>


    </div><!-- /.main-container -->

</div><!-- /.body-container -->

</body>


</html>
         